.orderSummary{
    position: sticky;
    top: 0;
    right: 0;
    margin-left: 20px;
    background-color: rgba(49, 97, 77, 0.2);
}
.heading{
  background-color: rgba(92, 179, 150,0.5);
    border-radius: 5px;
    text-align: center;
   
}
button{
    background-color: aquamarine;
    width: 500px;
}