.shopContainer{
    display: flex;
    border: 1px solid red;
    width: 100%;
  
}
.shopImage img{
    width: 200px;
    margin: 30px;
}

 .title{
    width:300px;
 }  

.button{
    border: none;
    border-style: none;
}

